.card {
  background-color: #00A6A6;
  margin: 2.5vh;
  box-shadow: 5px 5px 20px mediumaquamarine;
  
}

.card-body {
  background-color: #2D3047;
  color: whitesmoke;
 
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #2D3047;
    border-color: #dee2e6 #dee2e6 #fff;
    color: white;
    margin: 0vh 2.5vh;
}

.company1, .company2{
  font-weight: 600;
}

.card-footer{
  background-color: mintcream;
  font-weight: 600;
}

input{
  border: 2px solid #2D3047;
}

.btn-primary{
    color: black;
    background-color: tan;
    border-color: aliceblue;
}

.mb{
  margin-bottom: 130px;
}

.tofloat{
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 97%;
  z-index: 111;
  background:#2D3047;
}

.title-screen {
  background-image: url(money-never-sleeps-2_grande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
